:root {
  --vt-c-white: #eef0f4;
  --vt-c-white-soft: #ffffff;
  --vt-c-white-soft-2: #dbdbdb;

  --vt-c-black: #131316;
  --vt-c-black-soft: #1f2026;
  --vt-c-black-soft-2: #3b3d47;

  --vt-c-text-light-1: black;
  --vt-c-text-light-2: #7a7a7a;
  --vt-c-text-dark-1: white;
  --vt-c-text-dark-2: #8f8f8f;
}

:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-soft-2: var(--vt-c-white-soft-2);

  --color-additional: #d19cff;
  --color-positive: #44f189;;
  --color-negative: #b93838;

  --color-text: var(--vt-c-text-light-1);
  --color-text-soft: var(--vt-c-text-light-2);
}

.dark {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-soft-2: var(--vt-c-black-soft-2);

  --color-text: var(--vt-c-text-dark-1);
  --color-text-soft: var(--vt-c-text-dark-2);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html,
body,
#app,
.app {
  min-height: 100vh;
}

body {
  font-weight: 800;
  font-size: 0.875rem;
  color: var(--color-text);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
}
button {
  cursor: pointer;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
