@import "./fonts.css";
@import "./base.css";

.link {
  transition: color 0.25s;
}

.link.router-link-exact-active {
  color: var(--color-additional);
}
.link:hover,
.link:focus {
  outline: none;
  color: var(--color-text-soft);
}

.icon {
  fill: var(--color-text);
}
